<div id="CaseStudies" class="case-studies">
	<div class="intro">
		<h2>Case Studies</h2>
		<p class="xl">
			A curated selection of projects showing a range & variety of work.
		</p>
	</div>
	<ul>
		{% for page in site.pages %} {% if page.url contains "/case-study/" %}

		<li data-aos="fade-up">
			<a href="{{page.url}}">
				<div class="case-studies-content">
					<h2>{{ page.title }}</h2>
					<p>
						{{ page.story.content.snippet }}
					</p>
				</div>
				<div
					class="case-studies-image"
					style="background-image: url('{{ page.story.content.background_image }}')"
				>
					&nbsp;
				</div>
			</a>
		</li>

		{% endif %} {% endfor %}
	</ul>
</div>
