<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>
		{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title
		}}{% endif %}
	</title>

	<link rel="stylesheet" href="{{ "/assets/custom.css" | absolute_url }}">
	<!-- GOOGLE FONTS -->
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:400,600,800|Krona+One&&display=swap"
		rel="stylesheet"
	/>

	<!-- LITY -- Lightbox -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link
		rel="stylesheet"
		href="/assets/lity.css"
		type="text/css"
		media="screen"
	/>
	<script
		src="/assets/javascript/lity.js"
		type="text/javascript"
		charset="utf-8"
	></script>
	<!-- AOS Scroll -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>

{% comment %} {% endcomment %}
