$heading-font: "Krona One", sans-serif;

$font-style: "Nunito Sans", sans-serif;

$main: #4d87c6;
$main-dark: #396594;
$main-light: #a6c3e2;

$white: #f8faff;
$lightgrey: #d2e0f0;

$main-transparent: rgba(71, 135, 198, 0.9);
$dark-transparent: rgba(57, 101, 148, 0.97);
$light-transparent: rgba(245, 248, 252, 0.9);

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $white;
	margin: 0;
	color: $main-dark;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
	font-weight: 700;
	color: $main;
	font-family: $heading-font;
	letter-spacing: 0.05em;
	line-height: 1.5;
	margin: 2.5rem 0 0.5rem;
}
h1 {
	color: $main-dark;
	font-size: 5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	margin-top: 3rem;
	font-size: 2.5rem;
}
h3 {
	font-size: 1.75rem;
	text-transform: uppercase;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 -2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: $main-dark;
}
p {
	font-size: 1.25rem;
}
p.xl {
	font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	h5 {
		font-size: 1rem;
	}
	p {
		font-size: 1rem;
	}
	p.xl {
		font-size: 1.25rem;
	}
}

nav a {
	text-decoration: none;
}
a,
a:visited {
	color: $main;
	text-decoration: underline;
	font-weight: 700;
}
a:hover {
	color: $main-dark;
	text-decoration: underline;
}

.bodycopy a {
	word-break: keep-all;
	text-decoration: none;
	border-bottom: 2px solid $main;
}
.bodycopy a:hover {
	text-decoration: none;
	border-bottom: 4px solid $main-dark;
}

a[href^="http://"]:not([href*="example.com"]):after,
a[href^="https://"]:not([href*="example.com"]):after {
	content: " ↗";
	font-family: arial;
	font-size: 0.66rem;
	text-decoration: none !important;
}
@media only screen and (max-width: 600px) {
	a[href^="http://"]:not([href*="example.com"]):after,
	a[href^="https://"]:not([href*="example.com"]):after {
		display: none;
	}
}
.quicksheet {
	a[href^="http://"]:not([href*="example.com"]):after,
	a[href^="https://"]:not([href*="example.com"]):after {
		display: none;
	}
}
ul {
	padding-left: 1rem;
}

hr {
	margin: 2rem;
	border: none;
}

// Base styles nav/footer/etc
html,
body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
nav {
	width: 100vw;
	z-index: 100;
	padding: 1rem 5rem;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
	background: $main-dark;
	height: 5rem;
	.logo a {
		font-family: $heading-font;
		font-weight: 700;
		font-size: 1.5rem;
		color: $white;
		text-transform: uppercase;
	}
	.logo a:hover {
		text-decoration: none;
		color: $white;
	}

	.nav-list {
		font-family: $font-style;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			display: flex;
			justify-content: space-between;
			li {
				&:hover {
					ul {
						display: block;
					}
				}
				a {
					padding: 1rem;
					color: $white;
				}

				ul {
					background: $white;

					box-shadow: 0 0 2px 0 $dark-transparent;
					padding: 0.5rem 1rem 1.5rem;
					margin: 0.5rem 0 0 -1rem;
					position: absolute;
					display: none;
					li {
						margin-left: 0;
						display: block;
						a {
							display: inline-block;
							width: 100%;
							padding: 0.5rem 1rem !important;
						}
						a.sublink {
							color: $main;
						}
						a.sublink:hover {
							color: $main;
						}
					}
				}
				@media only screen and (max-width: 600px) {
					ul {
						width: 100%;

						left: 0;
						margin: 0;
						li {
							text-align: center;
						}
					}
				}
			}
			li:last-of-type a {
				padding-right: 0;
			}
		}
	}
}

footer {
	padding: 2rem;
	background: $main-dark;
	width: 100%;
	clear: both;
	p {
		color: $lightgrey;
		text-align: center;
		a {
			color: $lightgrey !important;
		}
	}
}

.text-center {
	text-align: center;
}
