header {
	background: $white;
	text-align: center;
	background-size: cover;
	background-position: center;
	.wrapper {
		padding: 15vh 1rem;
		border-bottom: 4px solid $main;
		h1 {
			background: $main-transparent;
			padding: 2rem;
			display: inline-flex;
			color: $white;
		}
	}
}

main {
	flex: 1 0 auto;
	.inset {
		max-width: 1000px;
		padding: 4rem 2rem;
		margin: 0 auto;
		&.bodycopy {
			max-width: 800px;
		}
	}
}
main.homepage {
	h1,
	p {
		max-width: 1000px;
		margin-bottom: 25px;
	}
}

main {
	.inline-list {
		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			&.tier-one {
				font-size: 1.5rem;
				font-weight: 400;
			}
			li {
				display: inline-block;
			}
			li::after {
				content: " • ";
			}
			li:last-of-type::after {
				content: "";
			}
		}
	}
}

main.case-study {
	.project-overview {
		display: flex;
		align-items: center;
		div.overview {
			width: 60%;
		}
		div.meta {
			// box-shadow: 4px 4px 0px 0px $main;
			border: 4px solid $main;
			width: 40%;
			font-size: 0.85em;
			margin: 5rem 0 4rem 4rem;
			dl {
				padding: 1rem;
				background: $lightgrey;
				margin: 0;
				display: flex;
				flex-wrap: wrap;
				dt {
					display: block;
					width: 30%;
					margin-bottom: 1rem;
					font-weight: 800;
				}
				dd {
					margin-inline-start: 0;
					display: block;
					width: 70%;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
	div.challenge {
		hr {
			margin: 3rem 0;
			border-bottom: 0.25rem solid $main;
		}
		background: $lightgrey;
		.inset {
			padding: 10rem;

			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
	}

	div.solution {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.solution-copy {
			width: 55%;
			padding: 1rem 2rem;
		}
		.solution-image {
			margin-top: 1rem;
			width: 40%;
			overflow: hidden;
			outline: 2px solid $main;
			&:hover {
				outline: 8px solid $main;
			}
			a {
				img {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
	}
	div.feature {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: 4rem auto;
		max-width: 800px;
		.feature-copy {
			width: 60%;
			padding: 1rem 2rem;
		}
		.feature-image {
			width: 35%;
			max-height: 25rem;
			overflow-y: hidden;
			outline: 2px solid $main;
			&:hover {
				outline: 8px solid $main;
			}
			a {
				img {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	div.final-design {
		background: $main;
		.inset {
			padding: 10rem;
			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
		h2,
		p {
			color: $white;
		}
		.img-wrapper {
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
			img {
				width: 100%;
				display: block;
			}
			max-height: 60rem;
			overflow: hidden;
			margin-top: 2rem;
		}
	}
	div.my-role {
		background: $lightgrey;
		.inset {
			padding: 10rem;

			hr {
				margin: 3rem 0;
				border-bottom: 0.25rem solid $main;
			}
			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
	}
}

aside.related-case-studies {
	padding: 2rem;
	h2 {
		margin-bottom: 1rem;
		margin: 2rem 2rem 1rem;
	}
	.inner {
		display: flex;
		justify-content: space-between;
		div.related-case-study {
			width: 50%;
			background: $tertiary;

			border: 8px solid $white;
			margin: 2rem;
			p {
				a {
					font-family: $heading-font;
					letter-spacing: 0.05em;
					font-size: 1.5rem;
					color: $white;
					display: block;
					margin: 0 auto;
					text-align: center;
					width: 100%;
					padding: 10vh 1rem;
				}
			}

			&:hover {
				background: $main;
				border: 8px solid $main;
			}
		}
		div.related-case-study:last-of-type {
			background: $secondary;
			border: 8px solid $white;
			&:hover {
				background: $main;
				border: 8px solid $main;
			}
		}
		div.related-case-study.left a::before {
			content: "⟵ ";
		}
		div.related-case-study.right a::after {
			content: " ⟶";
		}
	}
}

.case-studies {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
	h2 {
		max-width: 1000px;
		margin: 0 auto;
		padding: 2rem;
	}
	ul {
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
		border-top: 4px solid $secondary;
		li {
			width: 100%;
			list-style: none;
			text-align: center;
			background-size: cover;
			background-position: center;
			border-bottom: 4px solid $secondary;
			a {
				font-family: $heading-font;
				padding: 8vh 0;
				display: block;
				background: $light-transparent;
				text-decoration: none;
				h2 {
					color: $tertiary;
					text-decoration: underline;
					font-size: 3rem;
					letter-spacing: 0.05em;
					padding-bottom: 0;
					@media only screen and (max-width: 600px) {
						font-size: 2.25rem;
					}
				}
				p {
					color: $tertiary;
					font-size: 1.75rem;
					max-width: 75vw;
					margin: 0 auto;
				}
				&:hover {
					background: $main-transparent;

					text-decoration: none;
					h2,
					p {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.small {
	font-size: 0.75em;
}
.x-large {
	font-size: 2em;
}
.available {
	background-color: $main;
	color: #fff;
	padding: 0.25rem 0.5rem;
	font-weight: 800;
	margin: 0 0.25rem;
}

footer {
	padding: 2rem;
	background: $darker;
	width: 100%;
	clear: both;
	p {
		color: $lightgrey;
		text-align: center;
		a {
			color: $lightgrey !important;
		}
	}
}

@media only screen and (max-width: 600px) {
	body {
		padding-top: 6rem;
	}
	nav {
		height: 6rem;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0.5rem;
		> * {
			width: 100%;
			text-align: center;
		}
		ul li ul {
			text-align: left;
			margin-top: 0.4rem !important;
		}
		li a {
			padding: 0.5rem !important;
		}
	}
	aside.lock {
		#password-form {
			input {
				width: 100%;
			}
		}
	}
	main {
		padding-top: 2rem;
	}
	main.case-study {
		padding-bottom: 0;
		.project-overview {
			flex-wrap: wrap;
			> * {
				width: 100% !important;
				margin: 0 !important;
			}
		}

		div.challenge,
		div.my-role {
			padding: 5rem 0rem;
			margin: 5rem 0;
			background: $lightgrey;
		}
		div.solution {
			margin-top: 5rem;
			margin-bottom: 5rem;

			padding: 2rem;
			.solution-image {
				width: 100%;
			}
		}
		div.feature {
			flex-wrap: wrap;
			margin-top: 5rem;
			margin-bottom: 5rem;
			padding: 2rem;
			.feature-copy {
				padding: 0;
				order: -1;
				width: 100% !important;
			}
			.feature-image {
				width: 100% !important;
			}
		}
		div.solution {
			flex-wrap: wrap;
			.solution-copy {
				order: -1;
				width: 100% !important;
				padding: 0;
			}
			img {
				width: 100% !important;
			}
		}
	}
	aside.related-case-studies {
		padding: 0;
		.inner {
			flex-wrap: wrap;
			div.related-case-study {
				width: 100%;
			}
		}
	}
}
