body.text-page {
	// background: url("/assets/background-v8.svg");
	background-position-x: 0;
	background-position-y: 0%;
	background-size: cover;

	background-repeat: repeat-x;
}
header {
	background: $white;
	text-align: center;
	background-size: cover;
	background-position: center;
	.wrapper {
		padding: 15vh 5rem;
		border-bottom: 4px solid $main;
		h1 {
			background: $primary-transparent;
			padding: 2rem;
			display: inline-flex;
			color: $white;
		}
	}
}

main {
	flex: 1 0 auto;
	.inset {
		max-width: 1000px;
		padding: 4rem 2rem;
		margin: 0 auto;
		&.bodycopy {
			max-width: 800px;
			a {
				color: $main-ultralight;
				border-bottom: 1px solid $main-ultralight;
				&:hover {
					color: $main;
					border-bottom: 1px solid $main;
				}
			}
		}
	}
}
main.homepage {
	h1,
	p {
		max-width: 1000px;
		margin-bottom: 25px;
	}
}

main {
	.inline-list {
		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			&.tier-one {
				font-size: 1.5rem;
				font-weight: 400;
			}
			li {
				display: inline-block;
			}
			li::after {
				content: " • ";
			}
			li:last-of-type::after {
				content: "";
			}
		}
	}
}

main.case-study {
	.project-overview {
		display: flex;
		align-items: center;
		justify-content: center;
		div.overview {
			width: 65%;
		}
		div.quicksheet {
			width: 35%;
			font-size: 0.85em;
			margin: 5rem 0 4rem 4rem;
			border: 4px solid $primary;
			h4 {
				margin: 0;
				padding: 1rem;
				background: $primary;
				color: $white;
			}
			dl {
				padding: 1rem 1rem 2rem;
				background: $lightgrey;
				margin: 0;
				dt::before {
					content: "\A";
					white-space: pre-wrap;
					display: block;
					height: 1rem;
				}
				dt {
					display: inline;
					font-weight: 800;
				}
				dd {
					margin-inline-start: 0.5rem;
					display: inline;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
	div.challenge {
		background: $main-ultralight !important;
		color: $white;
		h2 {
			color: $white;
		}
		.inset {
			padding: 10rem;
			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
	}

	div.solution {
		// border-bottom: 4px solid $main;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		background: $lightgrey;
		padding-bottom: 4rem;
		.solution-copy {
			width: 100%;
			padding: 1rem 2rem;
		}
		.solution-image {
			margin-top: 4rem;
			width: 100%;
			overflow: hidden;
			outline: 2px solid $primary;
			&:hover {
				outline: 8px solid $primary;
			}
			a {
				img {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
	}
	div.feature {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;

		margin: 4rem auto;
		max-width: 1000px;
		.feature-copy {
			width: 100%;
			padding: 1rem 2rem;
			h3 {
				margin: 1rem 0 2rem;
			}
			p {
				width: 80%;
				@media only screen and (max-width: 600px) {
					width: 100%;
				}
			}
		}
		.feature-image {
			width: 100%;
			max-height: 25rem;
			overflow-y: hidden;
			outline: 2px solid $primary;
			&:hover {
				outline: 8px solid $primary;
			}
			a {
				background: $main-transparent;
				img {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	div.final-design {
		margin: 6rem 0 0;
		background: $primary;
		.inset {
			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
		h2,
		p {
			padding: 0rem 2rem;
			color: $white;
		}
		.img-wrapper {
			box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
			img {
				width: 100%;
				display: block;
			}
			max-height: 60rem;
			overflow: hidden;
			margin-top: 2rem;
		}
	}
	div.my-role {
		.inset {
			padding: 10rem;

			hr {
				margin: 3rem 0;

				border-bottom: 0.25rem solid $main;
			}
			@media only screen and (max-width: 600px) {
				padding: 2rem;
			}
		}
	}
}

aside.related-case-studies {
	background: $main-light;
	padding: 2rem;
	h2 {
		margin-bottom: 1rem;
		margin: 2rem 2rem 1rem;
		color: $white;
	}
	.inner {
		display: flex;
		justify-content: space-between;
		div.related-case-study {
			width: 50%;
			background: $primary;

			border: 0.5rem solid $main;
			margin: 2rem;
			p {
				a {
					font-family: $heading-font;
					letter-spacing: 0.05em;
					font-size: 1.5rem;
					color: $white;
					display: block;
					margin: 0 auto;
					text-align: center;
					width: 100%;
					padding: 10vh 1rem;
					text-decoration: none;
				}
			}

			&:hover {
				background: $main;
				border: 0.5rem solid $main;
			}
		}
		div.related-case-study.left a::before {
			// content: "⟵ ";
		}
		div.related-case-study.right a::after {
			// content: " ⟶";
		}
	}
}

.case-studies {
	width: 100%;
	max-width: 100%;
	padding: 0;

	padding-bottom: 2rem;
	margin: 0;
	background: $main-light;
	.intro {
		margin: 0 auto;
		padding: 2rem 5rem;
		color: $white;
		text-align: center;
		h2 {
			color: $white;
		}
	}
	ul {
		margin: 0;
		padding: 0 5rem;
		display: block;
		width: 100%;
		li {
			width: 100%;
			list-style: none;
			margin: 5rem 0;
			border: 0.5rem solid $main;
			a {
				display: flex;
				text-decoration: none;

				.case-studies-content {
					width: 50%;
					height: 100%;
					background: $primary;
					padding: 5rem 2rem;
					color: $white;
					h2 {
						color: $white;
						margin: 0;
					}
					p {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.case-studies-image {
					width: 50%;
					background-size: cover;
				}
				&:hover {
					.case-studies-content {
						background: $main;
					}
					color: $white;
					h2 {
						color: $white;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1040px) {
	.case-studies {
		.intro {
			padding: 1rem 2rem;
		}
		ul {
			padding: 0 0 1rem;
			li {
				margin: 1rem;
				height: 200%;
				width: auto;
				a {
					display: block;
					.case-studies-content {
						padding: 2rem;
						width: 100% !important;
						display: block;
					}
					.case-studies-image {
						padding: 4rem;
						width: 100%;
					}
				}
			}
		}
	}
}

.small {
	font-size: 0.75em;
}
.x-large {
	font-size: 2em;
}
.available {
	background-color: $main;
	color: #fff;
	padding: 0.25rem 0.5rem;
	font-weight: 800;
	margin: 0 0.25rem;
}
.working {
	background-color: $main-light;
	color: #fff;
	padding: 0.25rem 0.5rem;
	font-weight: 800;
	margin: 0 0.25rem;
}

footer {
	padding: 2rem;
	width: 100%;
	clear: both;
	p {
		color: $lightgrey;
		text-align: center;
		a {
			color: $lightgrey !important;
		}
	}
}
@media only screen and (max-width: 1040px) {
	nav {
		border: 2rem solid $main-dark;
		border-width: 2rem 1rem;
		display: flex;
		padding: 1rem 0;
		.logo {
			padding: 1.5rem 0;
		}
		.logo a {
			font-size: 1.25rem;
		}
		li a {
			padding: 0.5rem !important;
			margin-right: 0 !important;
			font-size: 1rem;
		}
	}
}
@media only screen and (max-width: 1040px) {
	header div.wrapper {
		padding: 15vh 0rem;

		h1 {
			font-size: 3rem;
			justify-content: center;
			width: 100%;
			padding: 2rem 1rem;
		}
	}
	aside.lock {
		#password-form {
			input {
				width: 100%;
			}
		}
	}
	main {
		//padding-top: 2rem;
	}

	main.case-study {
		padding-bottom: 0;
		.project-overview {
			flex-wrap: wrap;
			> * {
				width: 100% !important;
				margin: 0 !important;
			}
		}
		div.quicksheet {
			margin-top: 2rem !important;
		}
		div.challenge,
		div.my-role {
			padding: 5rem 0rem;
			margin: 5rem 0 0;
			background: $lightgrey;
		}
		div.solution {
			padding: 2rem 2rem 4rem;
			.solution-image {
				width: 100%;
			}
		}
		div.feature {
			flex-wrap: wrap;
			margin-top: 5rem;
			margin-bottom: 5rem;
			padding: 2rem;
			.feature-copy {
				padding: 0;
				order: -1;
				width: 100% !important;
			}
			.feature-image {
				width: 100% !important;
			}
		}
		div.solution {
			flex-wrap: wrap;
			.solution-copy {
				order: -1;
				width: 100% !important;
				padding: 0;
			}
			img {
				width: 100% !important;
			}
		}
	}
	aside.related-case-studies {
		padding: 0;
		.inner {
			flex-wrap: wrap;
			div.related-case-study {
				width: 100%;
			}
		}
	}
}

.about-block {
	margin: 5rem 0;
}
