---
case_study_right_title: Prev
case_study_right_title: Next
---

<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<header
			style="background-image:url('https:{{ page.story.content.background_image }}');"
		>
			<div class="wrapper">
				<h1>{{ page.story.content.title }}</h1>
			</div>
		</header>
		<main class="case-study">
			<div class="project-overview inset">
				<div class="overview" data-aos="fade-up">
					{{ page.story.content.overview | markdownify }}
				</div>
				<div class="quicksheet" data-aos="fade-up" data-aos-delay="100">
					<h4>Quicksheet</h4>
					{{ page.story.content.project_quicksheet | markdownify }}
				</div>
			</div>

			<div class="challenge" data-aos="fade-up">
				<div class="inset">
					{{ page.story.content.challenge | markdownify }}
				</div>
			</div>

			<div class="solution" data-aos="fade-up">
				<div class="inset">
					<div class="solution-copy">
						{{ page.story.content.solution | markdownify }}
					</div>
					<div class="solution-image">
						<a data-lity href="{{ page.story.content.solution_image }}"
							><img
								src="{{ page.story.content.solution_image }}"
								alt="{{ page.story.content.solution_image }}"
						/></a>
					</div>
				</div>
			</div>

			{% for blok in page.story.content.feature_set %}
			<div class="feature inset" data-aos="fade-up">
				<div class="feature-copy">
					<h5>Feature</h5>
					{{ blok.copy | markdownify }}
				</div>
				<div class="feature-image" data-aos="fade-up" data-aos-delay="100">
					<a data-lity href="{{ blok.image }}"
						><img src="{{ blok.image }}" alt="{{ blok.image }}"
					/></a>
				</div>
			</div>
			{% endfor %} {% if page.story.content.final_design != "" %}
			<div class="final-design" data-aos="fade-up">
				<div class="inset">
					<h2>Final Design</h2>
					<div class="img-wrapper">
						<img
							src="{{ page.story.content.final_design }}"
							alt="{{ page.story.content.final_design }}"
						/>
					</div>
					<p class="small">
						{{ page.story.content.final_design_role | markdownify }}
					</p>
				</div>
			</div>
			{% endif %}
			<div class="my-role">
				<div class="inset">
					<hr />
					{{ page.story.content.my_role | markdownify }}
					<hr />
				</div>
			</div>
		</main>
		<aside class="related-case-studies">
			<h2 data-aos="fade-up">Read on</h2>
			<div class="inner">
				<div class="related-case-study left" data-aos="fade-up">
					{{ page.story.content.related_case_study_left | markdownify }}
				</div>
				<div
					class="related-case-study right"
					data-aos="fade-up"
					data-aos-delay="100"
				>
					{{ page.story.content.related_case_study_right | markdownify }}
				</div>
			</div>
		</aside>
		{% include footer.html %}
	</body>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			duration: 200,
		});
	</script>
</html>
