<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %} {% for blok in page.story.content.body %} {%
		include {{blok.component}}.html blok=blok %} {% endfor %} {% include
		footer.html %}
	</body>
	<script>
		storyblok.init();
		storyblok.on("change", function() {
			function getAjax(url, success) {
				var xhr = window.XMLHttpRequest
					? new XMLHttpRequest()
					: new ActiveXObject("Microsoft.XMLHTTP");
				xhr.open("GET", url);
				xhr.onreadystatechange = function() {
					if (xhr.readyState > 3 && xhr.status == 200)
						success(xhr.responseText);
				};
				xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
				xhr.send();
				return xhr;
			}
			getAjax("/rebuild", function(data) {
				console.log(data);
				window.location.reload();
			});
		});
	</script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</html>
